<h1>New Booking</h1>

<%= form_with(model: @booking, url: bookings_path) do |form| %>
  <div>
    <%= form.label :first_name, "First Name" %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, "Last Name" %><br>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :animal_name, "Animal Name" %><br>
    <%= form.text_field :animal_name %>
  </div>

  <div>
    <%= form.label :animal_type, "Animal Type" %><br>
    <%= form.select :animal_type, ['cat', 'dog'] %>
  </div>

  <div>
    <%= form.label :hours_requested, "Hours Requested" %><br>
    <%= form.select :hours_requested, ['2', '3', '4', '5', '6', '7', '8'] %>
  </div>

  <div>
    <%= form.label :date_of_service, "Date of Service" %><br>
    <%= form.date_select :date_of_service, start_year: Time.now.year, end_year: Time.now.year  %>
  </div>

  <div>
    <%= form.submit "Submit Booking" %>
  </div>
<% end %>

<% flash.each do |type, message| %>
  <div>
    <%= message %>
  </div>
<% end %>